// nav {
//     background: #c1f8f1;
//     height: 64px;
//     color: white;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     box-shadow: 0px 2px 4px 6px rgba(0,0,0,.1);
// }

h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

button {
    position: absolute;
        right: 5%;
}

// button {
//     border: solid 1px #79c2f6;
//     background: none;
//     height: 32px;
//     border-radius: 4px;
//     color: #79c2f6;
//     position: absolute;
//     right: 5%;
// }