.container {
    
    padding: 1em 0 72px 0;
}

.card {
    width: 420px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 4px;
}

mat-form-field {
    width: 420px;
}

textarea {
    width: 100%
}